<div class="row">
  <div class="small-12 columns text-right">
    <%= link_to "My Profile", dashboard_index_path %>
    <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <h1><%= @user.name %></h1>
    <p>Description: <%= @user.description %></p>
  </div>
</div>